h1 {
    color: brown;
    background-color: blue;
}
.sony{
    color: magenta;
     background-color: chartreuse;
}
#sunil{
    color: blue ; 
    background-color: blueviolet;
    text-align: center;

}
.ss{
color: darkgreen; 
background-color: fuchsia;
}
#one{
color: aqua;
background-color: darkorange;
}
.seetha{
color:crimson;
background-color: lightgreen;
}

